@charset "utf-8";
/* CSS Document 3d6cb0*/
body {
	margin: 0;
    font-family: "Myriad Pro Light SemiExt", monospace;
	font-size: 0;
}
.page-wrapper {
	margin: 10px;
	padding: 10px;
}
/*====================================*/
/*Левый блок*/
.left {
	float: left;
	width: 36.5%;
	padding: 70px 25px 30px 40px;
}
	/*Общий блок с фото и текстом*/
	.photo {
		position: relative;
		width: 100%;
		margin-bottom: 76px;
	}
		/*Блок с фото*/
		.photo-image {
			position: relative;
			margin: 0 auto;
			border: 1px solid #3d6cb0;
			height: 239px;
			width: 240px;
			border-radius: 120px;
			background: #ffffff url(1.png) no-repeat;
			background-position: center;
			background-size: 209px;
		}
		/*Блок для текста*/
		.photo-info {
			position: relative;
			width: 94%;
			margin: 0 auto;
			margin-top: 33px;
			height: 150px;
			margin-bottom: 30px;
		}
			/*Блок под именя*/
			.photo-name {
				width: 100%;
				height: 50px;
				font-weight: normal;
				font-size: 60px;
				letter-spacing: 0px;
				line-height: 47px;
				text-align: center;
			}
			/*Блок под фимилию*/
			.photo-surname {
				width: 100%;
				height: 65px;
				font-weight: bold;
				font-size: 69px;
				letter-spacing: -4px;
				line-height: 53px;
				text-align: center;
			}
			/*Блок под текст*/
			.photo-text {
				width: 100%;
				height: 35px;
				font-weight: bold;
				font-size: 30px;
				letter-spacing: -1px;
				line-height: 35px;
				text-align: center;
			}
	/*Общий блок профиля*/
	.profile {
		position: relative;
		margin: 0 auto;
		width: 100%;

	}
		/*Блок для заголовков*/
		.left .title {
			margin-top: 4px;
			width: 95.5%;
			height: 74px;
			border: 1px solid #ffffff;
		}
			/*Иконка заголовка для профиля*/
			.profile .title-icon {
				width: 74px;
				height: 74px;
				border-radius: 37px;
				background: #ffffff url(2.png) no-repeat;
				background-position: center;
				background-size: 74px 74px;
				float: left;
			}
			/*Блок с текстом для заголовка*/
			.title-text {
				margin-left: 10px;
				margin-right: 10px;
				height: 74px;
				width: auto;
				font-weight: bold;
				color: #3d6cb0;
				font-size: 45px;
				line-height: 70px;
				letter-spacing: -2px;
				float: left;
			}
			/*Линия рядом с заголовком*/
			.title-line {
				border: 0;
				margin-top: 33px;
				height: 5px;
				width: auto;
				background: #3d6cb0;
			}
		/*Блок с текстом*/
		.profile-article {
			margin-top: 10px;
			margin-left: 1px;
			font-size: 14px;
			width: 95.5%;
			height: auto;
			text-align: left;
			word-spacing: 0px;
			letter-spacing: -0px;
			margin-bottom: 10px;
		}
	/*Общий блок контактов*/
	.contact {
		position: relative;
		margin: 0 auto;
		margin-top: 30px;
		width: 100%;
		height: auto;
	}
		/*Иконка заголовка для контактов*/
		.contact .title-icon {
				width: 74px;
				height: 74px;
				border-radius: 37px;
				background: #ffffff url(3.png) no-repeat;
				background-position: center;
				background-size: 74px 74px;
				float: left;
			}
		/*Блок с текстом*/
		.contact-article {
			margin-left: 1px;
			margin: 30px 0 10px 1px;
			width: 95.5%;
			height: auto;
		}
			/*Строка с информацией*/
			.contact-info {
				width: 99%;
				height: auto;
				margin-bottom: 34px;
			}
				/*Блок с названием контакта*/
				.contact-name {
					width: 25%;
					height: 23px;
					font-size: 23px;
					font-weight: bold;
					color: #3d6cb0;
					line-height: 25px;
					margin-right: 23px;
					float: left;
				}
				/*Блок с текстом под контакт*/
				.contact-text {
					width: 68%;
					height: 23px;
					font-size: 23px;
					line-height: 23px;
					float: left;
				}
	/*Блок с навыками*/
	.skills {
		position: relative;
		margin-top: 30px;
		width: 100%;
		height: auto;
	}
		/*Иконка заголовка для навыков*/
		.skills .title-icon {
				width: 74px;
				height: 74px;
				border-radius: 37px;
				background: #ffffff url(4.png) no-repeat;
				background-position: center;
				background-size: 74px 74px;
				float: left;
			}
		/*Блок под навыки*/
		.skills-article {
			margin-left: 1px;
			margin-top: 25px;
			width: 95.5%;
			height: auto;
		}
			/*Блок под каждый навык*/
			.skills-info {
				margin: 0 auto;
				margin-bottom: 18px;
				width: 310px;
				height: 60px;
				text-align: center;
			}
				/*Блок под название навыка*/
				.skills-name {
					width: 100%;
					height: 28px;
					text-align: center;
					font-size: 28px;
					line-height: 28px;
				}
				/*Блок под уровень навыка*/
				.skills-level {
					position: relative;
					margin-top: 7.5px;
					width: 100%;
					height: 20px;
					text-align: center;
				}
					/*обнуление границ списка*/
					.skills-level ul {
						padding: 0;
					}
						/*стандартный вид пункта*/
						.skills ul li.default {
							list-style: none;
							background: #e6e6e6;
							border-radius: 10px;
							height: 20px;
							width: 20px;
							float: left;
							margin-right: 1.8%;
						}
						/*активный вид пункта*/
						.skills ul li.active {
							list-style: none;
							background: #3d6cb0;
							border-radius: 10px;
							height: 20px;
							width: 20px;
							float: left;
							margin-right: 1.8%
						}
/*====================================*/
/*Правый блок*/
.right {
	float: right;
	width: 55.2%;
	padding: 57px 0 20px 0;
}
	/*Блок с образованием*/
	.education {
		position: relative;
		width: 99%;
		height: auto;
	}
		/*Измененый блок заголовка*/
		.right .title {
			width: 95%;
			height: 74px;
			border: 1px solid #ffffff;
			margin-bottom: 33px;
		}
			/*Иконка под образование*/
			.education .title-icon {
				width: 74px;
				height: 74px;
				border-radius: 37px;
				background: #ffffff url(5.png) no-repeat;
				background-position: center;
				background-size: 74px 74px;
				float: left;
		}
		/*Общий блок для текста под образование*/
		.overall-article {
			width: 95%;
			height: auto;
			margin-bottom: 12px;
		}
			/*Блок под каждый пункт образования*/
			.overall-info {
				width: 99.5%;
				height: auto;
				margin-bottom: 7px;
			}
				/*Круг под пункты*/
				.overall-image {
					border: 1px solid #000000;
					background: #000000;
					width: 20px;
					height: 20px;
					border-radius: 10px;
					margin-left: 10px;
					margin-right: 15px;
					float: left;
				}
				/*Отдельный блок под текст*/
				.overall-text {
					width: calc(99% - 45px);
					height: auto;
					float: right;
					margin-bottom: 12px;
				}
					/*Блок под заголовок и период учебы*/
					.overall-text-1 {
						height: auto;
						margin-bottom: 12px;
					}
						/*Заголовок*/
						.education .overall-text-title {
							width: auto;
							height: auto;
							font-size: 25px;
							font-weight: bold;
							color: #3d6cb0;
							line-height: 18px;
							float: left;
							margin-right: 2%;
						}
						/*Период учебы*/
						.overall-text-time {
							width: auto;
							height: auto;
							font-size: 25px;
							color: #000000;
							line-height: 18px;
							float: left;
						}
					/*Название учебного заведения*/
					.overall-text-2 {
						height: auto;
						margin-bottom: 12px;
						font-size: 25px;
						line-height: 20px;
					}
					/*Текст*/
					.overall-text-3 {
						word-spacing: -3px;
						letter-spacing: -1px;
						height: auto;
						font-size: 14px;
						line-height: 20px;
						text-align: left;
					}
	/*Блок под Опыт работы*/
	.experience {
		position: relative;
		width: 99%;
		height: auto;
		margin-top: 30px;
	}
		.experience .title {
			width: 95%;
			height: 74px;
			border: 1px solid #ffffff;
			margin-bottom: 48px;
		}
		/*Иконка под опыт работы*/
		.experience .title-icon {
			width: 74px;
			height: 74px;
			border-radius: 37px;
			background: #ffffff url(6.png) no-repeat;
			background-position: center;
			background-size: 74px 74px;
			float: left;
		}
		/*Изменяет цвет блока заголовка в тексте*/
		.experience .overall-text-title {
			width: auto;
			height: auto;
			font-size: 25px;
			font-weight: bold;
			color: #000000;
			line-height: 18px;
			float: left;
			margin-right: 2%;
		}
	/*Блок под знание софта*/
	.software {
		width: 99%;
		height: auto;
		margin-top: 30px;
	}
		.software .title {
			width: 95%;
			height: 74px;
			border: 1px solid #ffffff;
			margin-bottom: 28px;
		}
		/*Иконка под софт*/
		.software .title-icon {
			width: 74px;
			height: 74px;
			border-radius: 37px;
			background: #ffffff url(7.png) no-repeat;
			background-position: center;
			background-size: 74px 74px;
			float: left;
		}
		/*Блок под навыки софта*/
		.software-article {
			width: 97.5%;
			height: auto
		}
			/*Левый блок под софт*/
			.software-left {
				width: 44%;
				height: auto;
				float:left;
				margin-left: 0.8%;
			}
			/*Правый блок под софт*/
			.software-right {
				width: 44%;
				height: auto;
				float: right;
			}
				/*Блок под каждый пункт софта*/
				.software-info {
					width: 100%;
					height: auto;
					margin-bottom: 32px;
				}
					/*Заголовок софта*/
					.software-title {
						height: auto;
						font-size: 25px;
						line-height: 20px;
						margin-bottom: 18px;
					}
					/*Полоска под % навыка*/
					.software-skill {
						width: 100%;
						height: 20px;
						background: #e6e6e6;
					}
						.photoshop {
							margin-top: -20px;
							width: 90%;
							background: #3d6cb0;
						}
						.illustrator {
							margin-top: -20px;
							width: 69%;
							background: #3d6cb0;
						}
						.indesign {
							margin-top: -20px;
							width: 55.5%;
							background: #3d6cb0;
						}
						.dreamweaver {
							margin-top: -20px;
							width: 82%;
							background: #3d6cb0;
						}
						.aftereffects {
							margin-top: -20px;
							width: 61%;
							background: #3d6cb0;
						}
						.html-css {
							margin-top: -20px;
							width: 90%;
							background: #3d6cb0;
						}
/*====================================*/
.clearfix {
	height: 10px;
    background: #ffffff;
    clear: both;
    height: 0;
}
/*====================================*/
@media screen and (max-width: 1080px) {
	.education .overall-text-title {
		width: auto;
		height: auto;
		font-size: 18px;
		font-weight: bold;
		color: #3d6cb0;
		line-height: 18px;
		float: left;
		margin-right: 2%;
	}
	.overall-text-time {
		width: auto;
		height: auto;
		font-size: 18px;
		color: #000000;
		line-height: 18px;
		float: left;
	}
	.experience .overall-text-title {
		width: auto;
		height: auto;
		font-size: 18px;
		font-weight: bold;
		color: #000000;
		line-height: 18px;
		float: left;
		margin-right: 2%;
	}
	.overall-text-2 {
						height: auto;
						margin-bottom: 12px;
						font-size: 18px;
						line-height: 20px;
					}
}
@media screen and (max-width: 1024px) {
	.contact-name {
					width: 25%;
					height: 23px;
					font-size: 18px;
					font-weight: bold;
					color: #3d6cb0;
					line-height: 25px;
					margin-right: 15px;
					float: left;
				}
	.contact-text {
					width: 68%;
					height: 23px;
					font-size: 18px;
					line-height: 23px;
					float: left;
				}
}
@media screen and (max-width: 950px) {
	.photo-name {
				width: 100%;
				height: 30px;
				font-weight: normal;
				font-size: 35px;
				letter-spacing: 0px;
				line-height: 30px;
				text-align: center;
			}
	.photo-surname {
				width: 100%;
				height: 30px;
				font-weight: bold;
				font-size: 35px;
				letter-spacing: -2px;
				line-height: 30px;
				text-align: center;
			}
	.photo-text {
				width: 100%;
				height: 15px;
				font-weight: bold;
				font-size: 20px;
				letter-spacing: -1px;
				line-height:15px;
				text-align: center;
			}
	.skills-info {
				margin: 0 auto;
				margin-bottom: 18px;
				width: 280px;
				height: 60px;
				text-align: center;
			}
	.skills-level ul {
						padding: 0;
						margin: 0 auto;
					}
	.skills ul li.default {
							list-style: none;
							background: #e6e6e6;
							border-radius: 9px;
							height: 18px;
							width: 18px;
							float: left;
							margin-right: 1.8%;
						}
	.skills ul li.active {
							list-style: none;
							background: #3d6cb0;
							border-radius: 9px;
							height: 18px;
							width: 18px;
							float: left;
							margin-right: 1.8%;
						}
}
@media screen and (max-width: 890px) {
	.page-wrapper {
		margin: 10px;
		padding: 10px;
	}
	.left {
		width: auto;
		float: none;
		padding: 0;
	}
	.photo-image {
			position: relative;
			margin: 0 auto;
			border: 1px solid #3d6cb0;
			height: 209px;
			width: 210px;
			border-radius: 120px;
			background: #ffffff url(1.png) no-repeat;
			background-position: center;
			background-size: 179px;
		}
	.photo-name {
				width: 100%;
				height: 50px;
				font-weight: normal;
				font-size: 30px;
				letter-spacing: 0px;
				line-height: 47px;
				text-align: center;
			}
	.photo-surname {
				width: 100%;
				height: 65px;
				font-weight: bold;
				font-size: 50px;
				letter-spacing: -4px;
				line-height: 53px;
				text-align: center;
			}
	.photo-text {
				width: 100%;
				height: 35px;
				font-weight: bold;
				font-size: 20px;
				letter-spacing: -1px;
				line-height: 35px;
				text-align: center;
			}
	.title-text {
				margin-left: 10px;
				margin-right: 10px;
				height: 74px;
				width: auto;
				font-weight: bold;
				color: #3d6cb0;
				font-size: 14px;
				line-height: 70px;
				letter-spacing: -1px;
				float: left;
			}
	.contact-name {
					width: auto;
					height: 23px;
					font-size: 15px;
					font-weight: bold;
					color: #3d6cb0;
					line-height: 25px;
					margin-right: 1%;
					float: left;
				}
	.contact-text {
					width: auto;
					height: 23px;
					font-size: 15px;
					line-height: 23px;
					float: left;
				}
	.skills-info {
				margin: 0;
				margin-bottom: 18px;
				width: auto;
				height: 60px;
			}
	.skills-level {
					margin-top: 7.5px;
					width: 100%;
					height: 14px;
				}
	.skills-name {
					width: 100%;
					height: 23px;
					text-align: left;
					font-size: 20px;
					line-height: 23px;
				}
	.skills-level ul {
						padding: 0;
						margin: 0 auto;
					}
	.skills ul li.default {
							list-style: none;
							background: #e6e6e6;
							border-radius: 6px;
							height: 12px;
							width: 12px;
							float: left;
							margin-right: 1.8%;
						}
	.skills ul li.active {
							list-style: none;
							background: #3d6cb0;
							border-radius: 6px;
							height: 12px;
							width: 12px;
							float: left;
							margin-right: 1.8%;
						}
/*====================================*/	
	.right {
		width: auto;
		float: none;
		padding: 0;
	}
	.education .overall-text-title {
							width: auto;
							height: auto;
							font-size: 15px;
							font-weight: bold;
							color: #3d6cb0;
							line-height: 18px;
							float: left;
							margin-right: 2%;
							word-spacing: -4px;
							letter-spacing: -1px;
						}
	.experience .overall-text-title {
							width: auto;
							height: auto;
							font-size: 15px;
							font-weight: bold;
							color: #000000;
							line-height: 18px;
							float: left;
							margin-right: 2%;
							word-spacing: -4px;
							letter-spacing: -1px;
		}
	.overall-text-time {
							width: auto;
							height: auto;
							font-size: 15px;
							color: #000000;
							line-height: 18px;
							float: left;
							margin-right: 15px;
							word-spacing: -4px;
							letter-spacing: -1px;
						}
	.overall-text-2 {
						height: auto;
						margin-bottom: 12px;
						font-size: 15px;
						line-height: 20px;
						word-spacing: -4px;
						letter-spacing: -1px;
					}
	.software-left {
				width: auto;
				height: auto;
				float: none;
				margin: 0;
			}
	.software-right {
				width: auto;
				height: auto;
				float: none;
			}
	.software-info {
					width: 100%;
					height: auto;
					margin-bottom: 15px;
				}
	.software-title {
						height: auto;
						font-size: 20px;
						line-height: 20px;
						margin-bottom: 5px;
					}
}
@media screen and (max-width: 500px) {
	.page-wrapper {
		margin: 10px;
		padding: 10px;
	}
/*====================================*/	
	.left {
		float: none;
		padding: 0;
	}
	.photo-image {
			position: relative;
			margin: 0 auto;
			border: 1px solid #3d6cb0;
			height: 209px;
			width: 210px;
			border-radius: 120px;
			background: #ffffff url(1.png) no-repeat;
			background-position: center;
			background-size: 179px;
		}
	.photo-name {
				width: 100%;
				height: 50px;
				font-weight: normal;
				font-size: 30px;
				letter-spacing: 0px;
				line-height: 47px;
				text-align: center;
			}
	.photo-surname {
				width: 100%;
				height: 65px;
				font-weight: bold;
				font-size: 50px;
				letter-spacing: -4px;
				line-height: 53px;
				text-align: center;
			}
	.photo-text {
				width: 100%;
				height: 35px;
				font-weight: bold;
				font-size: 20px;
				letter-spacing: -1px;
				line-height: 35px;
				text-align: center;
			}
	.title-text {
				margin-left: 10px;
				margin-right: 10px;
				height: 74px;
				width: auto;
				font-weight: bold;
				color: #3d6cb0;
				font-size: 14px;
				line-height: 70px;
				letter-spacing: -1px;
				float: left;
			}
	.contact-name {
					width: auto;
					height: 23px;
					font-size: 15px;
					font-weight: bold;
					color: #3d6cb0;
					line-height: 25px;
					margin-right: 1%;
					float: left;
				}
	.contact-text {
					width: auto;
					height: 23px;
					font-size: 15px;
					line-height: 23px;
					float: left;
				}
	.skills-info {
				margin: 0;
				margin-bottom: 18px;
				width: auto;
				height: 60px;
			}
	.skills-level {
					margin-top: 7.5px;
					width: 100%;
					height: 14px;
				}
	.skills-name {
					width: 100%;
					height: 23px;
					text-align: left;
					font-size: 20px;
					line-height: 23px;
				}
	.skills-level ul {
						padding: 0;
						margin: 0 auto;
					}
	.skills ul li.default {
							list-style: none;
							background: #e6e6e6;
							border-radius: 6px;
							height: 12px;
							width: 12px;
							float: left;
							margin-right: 1.8%;
						}
	.skills ul li.active {
							list-style: none;
							background: #3d6cb0;
							border-radius: 6px;
							height: 12px;
							width: 12px;
							float: left;
							margin-right: 1.8%;
						}
/*====================================*/	
	.right {
		float: none;
		padding: 0;
	}
	.education .overall-text-title {
							width: auto;
							height: auto;
							font-size: 15px;
							font-weight: bold;
							color: #3d6cb0;
							line-height: 18px;
							float: left;
							margin-right: 2%;
							word-spacing: -4px;
							letter-spacing: -1px;
						}
	.experience .overall-text-title {
							width: auto;
							height: auto;
							font-size: 15px;
							font-weight: bold;
							color: #000000;
							line-height: 18px;
							float: left;
							margin-right: 2%;
							word-spacing: -4px;
							letter-spacing: -1px;
		}
	.overall-text-time {
							width: auto;
							height: auto;
							font-size: 15px;
							color: #000000;
							line-height: 18px;
							float: left;
							margin-right: 15px;
							word-spacing: -4px;
							letter-spacing: -1px;
						}
	.overall-text-2 {
						height: auto;
						margin-bottom: 12px;
						font-size: 15px;
						line-height: 20px;
						word-spacing: -4px;
						letter-spacing: -1px;
					}
	.software-left {
				width: auto;
				height: auto;
				float: none;
			}
	.software-right {
				width: auto;
				height: auto;
				float: none;
			}
	.software-info {
					width: 100%;
					height: auto;
					margin-bottom: 15px;
				}
	.software-title {
						height: auto;
						font-size: 20px;
						line-height: 20px;
						margin-bottom: 5px;
					}
}
