@charset "utf-8";
/* Правый блок */
.right {
	float: right;
	width: 55.2%;
	padding: 57px 0 20px 0;
}
.education {
	position: relative;
	width: 99%;
	height: auto;
	margin-bottom: 30px;
}
.right .title {
	width: 95%;
	height: auto;
	border: 1px solid #ffffff;
	margin-bottom: 33px;
}
.education .title-icon {
	width: 74px;
	height: 74px;
	border-radius: 37px;
	background: #ffffff url(../image/education.png) no-repeat;
	background-position: center;
	background-size: 74px 74px;
	float: left;
}
.overall-article {
	width: 95%;
	height: auto;
	margin-bottom: 12px;
}
.overall-info {
	width: 99.5%;
	height: auto;
	margin-bottom: 7px;
}
.overall-image {
	border: 1px solid #000000;
	background: #000000;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 15px;
	float: left;
}
.overall-text {
	width: calc(99% - 45px);
	height: auto;
	float: right;
	margin-bottom: 12px;
}
.overall-text-1 {
	height: auto;
	margin-bottom: 12px;
}
.education .overall-text-title {
	font-family: "MyriadPro-Bold";
	width: auto;
	height: auto;
	font-size: 25px;
	font-weight: bold;
	color: #3d6cb0;
	line-height: 18px;
	float: left;
	margin-right: 2%;
}
.overall-text-time {
	width: auto;
	height: auto;
	font-size: 25px;
	color: #000000;
	line-height: 18px;
	float: left;
}
.overall-text-2 {
	height: auto;
	margin-bottom: 12px;
	font-size: 25px;
	line-height: 20px;
}
.overall-text-3 {
	word-spacing: 0px;
	letter-spacing: 0px;
	height: auto;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}
.experience {
	position: relative;
	width: 99%;
	height: auto;
	margin-bottom: 30px;
}
.experience .title-icon {
	width: 74px;
	height: 74px;
	border-radius: 37px;
	background: #ffffff url(../image/experience.png) no-repeat;
	background-position: center;
	background-size: 74px 74px;
	float: left;
}
.experience .overall-text-title {
	font-family: "MyriadPro-Bold";
	width: auto;
	height: auto;
	font-size: 25px;
	font-weight: bold;
	color: #000000;
	line-height: 18px;
	float: left;
	margin-right: 2%;
}
.software {
	width: 99%;
	height: auto;
	margin-bottom: 30px;
}
.software .title-icon {
	width: 74px;
	height: 74px;
	border-radius: 37px;
	background: #ffffff url(../image/software.png) no-repeat;
	background-position: center;
	background-size: 74px 74px;
	float: left;
}
.software-article {
	width: 97.5%;
	height: auto;
}
.software-info {
	display: inline-block;
	width: 44%;
	height: auto;
	margin-bottom: 32px;
	margin-right: 30px;
}
.software-title {
	height: auto;
	font-size: 25px;
	line-height: 20px;
	margin-bottom: 18px;
}
.software-skill {
	width: 100%;
	height: 20px;
	background: #e6e6e6;
}
.photoshop {
	margin-top: -20px;
	width: 90%;
	background: #3d6cb0;
}
.illustrator {
	margin-top: -20px;
	width: 69%;
	background: #3d6cb0;
}
.indesign {
	margin-top: -20px;
	width: 55.5%;
	background: #3d6cb0;
}
.dreamweaver {
	margin-top: -20px;
	width: 82%;
	background: #3d6cb0;
}
.aftereffects {
	margin-top: -20px;
	width: 61%;
	background: #3d6cb0;
}
.html-css {
	margin-top: -20px;
	width: 90%;
	background: #3d6cb0;
}