@charset "utf-8";
/* max-width: 1180px */
@media screen and (max-width: 1180px) {
	.education .overall-text-title {
		font-size: 20px;
	}
	.overall-text-time {
		font-size: 20px;
	}
	.experience .overall-text-title {
		font-size: 20px;
	}
	.contact-name {
		font-size: 23px;
		line-height: 23px;
	}
	.contact-text {
		font-size: 21px;
		line-height: 21px;
	}
	.software-info {
		margin-right: 15px;
	}
}