@media screen and (max-width: 414px) {
  .left .profile .title .title-text,
  .left .contact .title .title-text,
  .left .skills .title .title-text,
  .right .education .title .title-text,
  .right .experience .title .title-text,
  .right .software .title .title-text {
    margin-left: 2px;
    font-size: 25px;
    line-height: 50px;
  }
  .left .profile .title .title-line,
  .left .contact .title .title-line,
  .left .skills .title .title-line,
  .right .education .title .title-line,
  .right .experience .title .title-line,
  .right .software .title .title-line {
    height: 3px;
    margin-top: 23px;
  }
  .left {
    float: none;
    width: 100%;
    padding: 0;
  }
  .left .photo {
    margin-bottom: 15px;
  }
  .left .photo .photo-image {
    height: 210px;
    width: 210px;
    border-radius: 105px;
    background-size: 1440px;
  }
  .left .photo .photo-info .photo-name {
    font-size: 39px;
    line-height: 39px;
  }
  .left .photo .photo-info .photo-surname {
    font-size: 45px;
    line-height: 39px;
  }
  .left .photo .photo-info .photo-text {
    font-size: 15px;
    line-height: 25px;
  }
  .left .profile .title,
  .left .contact .title,
  .left .skills .title {
    margin-top: 5px;
  }
  .left .profile .title .title-icon,
  .left .contact .title .title-icon,
  .left .skills .title .title-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-size: 369px;
  }
  .left .profile .title .title-icon {
    background-position: -53px 1px;
  }
  .left .profile .article {
    margin: 5px 0 0 0;
    font-size: 14px;
    width: 100%;
  }
  .left .contact .title .title-icon {
    background-position: -106px 1px;
  }
  .left .contact .article {
    margin: 5px 0 0 0;
  }
  .left .contact .article .contact-info {
    margin-bottom: 15px;
  }
  .left .contact .article .contact-info .contact-name {
    font-size: 14px;
  }
  .left .contact .article .contact-info .contact-text {
    font-size: 14px;
  }
  .left .skills .title .title-icon {
    background-position: -159px 1px;
  }
  .left .skills .article {
    margin: 5px 0 0 0;
  }
  .left .skills .article .skills-info {
    margin: 0;
    width: 100%;
    height: auto;
    text-align: left;
  }
  .left .skills .article .skills-info .skills-name {
    text-align: left;
    font-size: 18px;
    line-height: 18px;
  }
  .left .skills .article .skills-info .skills-level {
    margin-top: 0;
  }
  .left .skills .article .skills-info .skills-level ul .default {
    border-radius: 7px;
    height: 14px;
    width: 14px;
    margin-right: 1%;
  }
  .left .skills .article .skills-info .skills-level ul .active {
    border-radius: 7px;
    height: 14px;
    width: 14px;
    margin-right: 1%;
  }
  .right {
    float: none;
    width: 100%;
    padding: 0;
  }
  .right .education .title,
  .right .experience .title,
  .right .software .title {
    margin-bottom: 5px;
  }
  .right .education .title .title-icon,
  .right .experience .title .title-icon,
  .right .software .title .title-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-size: 369px;
  }
  .right .education .title .title-icon {
    background-position: -213px 1px;
  }
  .right .education .article .info .image,
  .right .experience .article .info .image {
    margin: 0 5px 0 0;
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  .right .education .article .info .text,
  .right .experience .article .info .text {
    float: left;
  }
  .right .education .article .info .text .text1,
  .right .experience .article .info .text .text1 {
    margin-bottom: 5px;
  }
  .right .education .article .info .text .text1 .text-title,
  .right .experience .article .info .text .text1 .text-title {
    font-size: 14px;
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
  .right .education .article .info .text .text1 .text-time,
  .right .experience .article .info .text .text1 .text-time {
    font-size: 13px;
    line-height: 13px;
    float: none;
  }
  .right .education .article .info .text .text2,
  .right .experience .article .info .text .text2 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 14px;
  }
  .right .experience .title .title-icon {
    background-position: -266px 1px;
  }
  .right .software .title .title-icon {
    background-position: -319px 1px;
  }
  .right .software .article .info {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .right .software .article .info .title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
  }
}
