@charset "utf-8";
/* max-width: 1024px */
@media screen and (max-width: 1024px) {
	.photo-name {
		font-size: 50px;
	}
	.photo-surname {
		font-size: 59px;
	}
	.photo-text {
		font-size: 20px;
	}
	.title-text {
		font-size: 35px;
	}
	.contact-name {
		font-size: 18px;
		margin-right: 18px;
	}
	.contact-text {
		font-size: 18px;
	}
	.software-info {
		margin-right: 5%;
	}
	.education .overall-text-title {
		font-size: 18px;
	}
	.overall-text-time {
		font-size: 18px;
	}
	.experience .overall-text-title {
		font-size: 18px;
	}
	.overall-text-2 {
		font-size: 18px;
	}
}