@charset "utf-8";
/* max-width: 900px */
@media screen and (max-width: 900px) {
	.left {
		float: none;
		width: 100%;
		padding: 0;
	}
	.right {
		float: none;
		width: 100%;
		padding: 0;
	}
	.photo {
		margin-bottom: 15px;
	}
	.photo-name {
		font-size: 60px;
	}
	.photo-surname {
		font-size: 69px;
	}
	.photo-text {
		font-size: 30px;
	}
	.title-text {
		font-size: 42px;
	}
	.education .overall-text-title {
		font-size: 17px;
	}
	.overall-text-time {
		font-size: 17px;
	}
	.experience .overall-text-title {
		font-size: 17px;
	}
}