@charset "utf-8";
/* max-width: 414px */
@media screen and (max-width: 414px) {
	.photo {
		margin-bottom: 15px;
	}
	.photo-image {
		height: 209px;
		width: 210px;
		border-radius: 105px;
		background-size: 189px;
	}
	.photo-name {
		font-size: 39px;
		line-height: 30px;
	}
	.photo-surname {
		font-size: 45px;
		line-height: 39px;
	}
	.photo-text {
		font-size: 15px;
		line-height: 25px;
	}
	.title-text {
		margin-left: 2px;
		font-size: 25px;
		line-height: 50px;
	}
	.title-line {
		height: 3px;
		margin-top: 23px;
	}
	.left .title {
		margin-top: 5px;
	}
	.right .title {
		margin-bottom: 5px;
	}
	.profile .title-icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-size: 50px 50px;
	}	
	.profile-article {
		margin: 5px 0 0 0;
			font-size: 14px;
			width: 100%;
		}
	.contact .title-icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-size: 50px 50px;
	}
	.contact-article {
		margin: 5px 0 0 0;
	}
	.contact-info {
		margin-bottom: 15px;
	}
	.contact-name {
		font-size: 14px;

	}
	.contact-text {
		font-size: 14px;
	}
	.skills .title-icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-size: 50px 50px;
	}
	.skills-article {
		margin: 5px 0 0 0;
	}
	.skills-info {
		margin: 0;
		width: 100%;
		height: auto;
		text-align: left;
	}
	.skills-name {
		text-align: left;
		font-size: 18px;
		line-height: 18px;
	}
	.skills-level {
		margin-top: 0;
	}
	.skills ul li.default {
		border-radius: 7px;
		height: 14px;
		width: 14px;
		margin-right: 1%;
	}
	.skills ul li.active {
		border-radius: 7px;
		height: 14px;
		width: 14px;
		margin-right: 1%;
	}
	.education .title-icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-size: 50px 50px;
	}
	.overall-image {
		margin: 0 5px 0 0;
		width: 14px;
		height: 14px;
		border-radius: 7px;
	}
	.overall-text {
		float: left;
	}
	.overall-text-1 {
		margin-bottom: 5px;
	}
	.education .overall-text-title {
		font-size: 14px;
		float: none;
		margin-right: 0;
		margin-bottom: 2px;
	}
	.overall-text-time {
		font-size: 13px;
		line-height: 13px;
		float: none;
	}
	.overall-text-2 {
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 14px;
	}
	.experience .title-icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-size: 50px 50px;
	}
	.experience .overall-text-title {
		font-size: 14px;
		float: none;
		margin-right: 0;
		margin-bottom: 2px;
	}
	.software .title-icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-size: 50px 50px;
	}
	.software-info {
		display: block;
		width: 100%;
		margin: 0 0 10px 0;
	}
	.software-title {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 5px;
	}
}